src/main/mule/mule-with-jenkins.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8e0f8ca3-adb0-4373-9196-4df3b3088636" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-auto-connected-applicationFlow" doc:id="7454804c-dde9-4e99-ba8b-9d88a26e55a9" >
		<http:listener doc:name="Listener" doc:id="d39ad428-d668-48bd-8b36-fc2594ca73f9" config-ref="HTTP_Listener_config" path="/cicd"/>
		<logger level="INFO" doc:name="Logger" doc:id="c6acbca0-a6a3-40b8-93f4-47023a857a8d" message="flow start"/>
		<ee:transform doc:name="Transform Message" doc:id="c29d82df-d6de-4385-b06c-9e6524183fb4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
"status": "success",
"message": "CICD Auto depolyment using github action configured successfully",
"timetake": now()
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="20e4c09e-daa1-4445-bbbd-8717b59669ad" message="#[payload]"/>
	</flow>
	
	
	</mule>
